{%- assign locale = page.locale -%}

<section class="d-flex justify-content-center p-5 border-bottom border-top hr-light">
    <div class="d-flex flex-lg-row flex-column">
        <div class="me-lg-5 d-block pb-3">
            <h6 class="fw-bold">{{site.data[locale].newsletter.title}}</h6>
            <h4 class="fw-normal">{{site.data[locale].newsletter.description}}</h4>
        </div>
    
        <div class="email_footer">
            <div class="input-group mb-3 ">
                <form name="newsletter-form" netlify class="newsletter-form">
                    <div class="d-flex">
                        <input id="email-newsletter" type="email" name="email" class="form-control bg-transparent text-white" required placeholder="{{ site.data[locale].newsletter.email-label }}"
                            aria-label="{{ site.data[locale].newsletter.email-label }}" aria-describedby="button-addon2">
                        <input id="current_date" type="hidden" name="current_date" id="current_date" value="">
                        <button class="btn btn-primary text-white" type="submit" id="button-addon2" aria-label="{{ site.data[locale].newsletter.submit-btn }}">
                            {{ site.data[locale].newsletter.submit-btn }}
                        </button>
                    </div>
                    <div class="form-check">
                        <input id="newsletter-policy-check-id" class="form-check-input text-white" type="checkbox" aria-label="form-check-input" required>
                        <label class="form-check-label" for="newsletter-policy-check-id">
                            {{ site.data[locale].newsletter.policy-label }}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>