{% if file.alt_color %}
  {% assign alt_color_class = "pj-file__alt" %}
{% endif %}

<section class="pj-file {{ alt_color_class }}">
  <div class="pj-file__img">
    <img src="{{ file.image | relative_url }}" alt="{{ file.title }}"/>
  </div>
  
  <div class="pj-file__text">
    <span class="pj-file__text__title">{{ file.title }}</span>
    
    {% if file.info and file.info != "" %}
      <span class="pj-file__text__data">{{ file.info }}</span>
    {% endif %}
  </div>

  <div class="pj-file__button">
    <a href="{{ file.file | relative_url }}" class="btn btn-negative">
      {% unless file.button_icon == "" %}
        <i class="fa-solid fa-download"></i>
      {% endunless %}
      
      <span class="btn__label">{{ file.button_text | default: site.data.i18n[page.locale].global.download }}</span>
    </a>
  </div>
</section>